<div class="profile-container">
  <div class="greeting">
    <h2 *ngIf="currentProfile">
      Hello, {{ currentProfile.givenName }}
    </h2>
  </div>
  <div class="intro">
    <p>Here are the habits you're working on:</p>
  </div>
  <div *ngIf="habitList && habitList.length > 0; else newHabitForm">
    <div class="habit-list-wrapper">
      <ul class="habit-list">
        <li class="habit-list-item" *ngFor="let habit of habitList">
          {{ habit.name }}
        </li>
      </ul>
    </div>
  </div>
  <ng-template #newHabitForm>
    noHabit :(
  </ng-template>

</div>
