<div class="footer-container">
  <div class="row">
    <div class="col-4 link">
      <a role="button"
        (click)="modalOpen('privacy')">Cookie Policy</a>
    </div>
    <div class="col-4 link">
      <a role="button"
        (click)="modalOpen('disclaimer')">Disclaimer</a>
    </div>
    <div class="col-4 link">
      <a href="https://github.com/jsheridanwells/BeautifulDay" target="_blank">
        <img src="assets/github-32px.png" class="github-icon" alt="Go to Github repository">
      </a>
    </div>
  </div>
</div>

