.auth-layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-layout-header {
  padding: 2rem;
  text-align: center;
}

.auth-layout-router-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto 2rem;
  min-width: 30rem;
}

.auth-layout-footer {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 0.8rem;
}

