.auth-layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.auth-layout-header {
  text-align: center;
}

.auth-layout-router-container {
  flex: 1 0 auto;
  width: 100%;
}

.auth-layout-footer {
  font-size: 0.8rem;
  flex-shrink: 0;
  width: 100%;
}

