<div class="container google-cmp-container">
  <h1 class="google-cmp-title">Beautiful Days</h1>
  <div class="google-cmp-body">
    <p>
      A quick and easy way to track positive habits.
    </p>
  </div>
  <div class="google-cmp-action">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <button class="btn btn-light google-cmp-signin-btn" (click)="googleSignIn()">
      <img class="google-cmp-signin-img" src="assets/btn_google.png" alt="Sign in with Google">
    </button>
  </div>
</div>
