.google-cmp-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   text-align: center;
}

h1.google-cmp-title {
  font-size: 7rem;
}

.google-cmp-body {
  margin: 5rem 0;
}

.google-cmp-signin-btn {
  padding: 0;
}

.google-cmp-signin-img {
  height: 50%;
  width: 50%;
}
