<div class="navbar">
  <h1 class="logo">Beautiful Days</h1>
  <div ngbDropdown>
    <div class="hamburger-menu" role="button" ngbDropdownToggle>
      <fa-icon [icon]="faCog"></fa-icon>
    </div>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <div *ngIf="currentProfile">
        <p class="dropdown-profile-name">
          {{ currentProfile.givenName }} {{ currentProfile.familyName }}
        </p>
        <div class="profile-picture wrapper">
          <img [src]="currentProfile.picture" class="profile-picture" alt="Profile picture">
        </div>
      </div>
      <!-- <button class="btn btn-light"(click)="requestSignOut()" ngbDropdownItem>Sign Out</button> -->
      <a class="bt btn-light sign-out" role="button" (click)="requestSignOut()">Sign Out</a>
    </div>
  </div>
</div>
