<div class="navbar">
  <h1 class="logo">Beautiful Days</h1>
  <div ngbDropdown>
    <div class="hamburger-menu" role="button" ngbDropdownToggle>
      <fa-icon [icon]="faCog"></fa-icon>
    </div>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <div *ngIf="currentProfile">
        <ul>
          <li>
            {{ currentProfile.givenName }}
          </li>
          <li>
            {{ currentProfile.familyName }}
          </li>
          <li>
            {{ currentProfile.email }}
          </li>
        </ul>
      </div>
      <button class="btn btn-light"(click)="requestSignOut()" ngbDropdownItem>Sign Out</button>
    </div>
  </div>
</div>
