@import 'colors';
@import 'media';

.navbar {
  min-height: $navHeight;
  display: flex;
  flex-direction: row;
  background-color: $primary;
}

h1.logo {
  font-size: 1.5rem;
  font-family: 'Josefins Sans';
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
}
p.dropdown-profile-name {
  font-size: 0.8rem;
  text-align: center;
}

.profile-picture-wrapper {
  width: 100%;
  text-align: center;
}

img.profile-picture {
  display: block;
  margin: 1px auto;
  border-radius: 100%;
}

a.sign-out {
  display: block;
  margin: 5px auto;
  width: 80%;
  text-align: center;
}
